*{
    margin: 0;
    padding: 0;
    font-family: "Courier New", monospace;
}

.main-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.nav-bar {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    width: 15%;
    height: 100vh;
    /* background-color: #888; */
}
.logo-container {
    margin:15%;
    /* background-color: aqua; */
}
.logo {
    width: 100%;
}
.nav-bar ul li {
    padding-bottom: 30%;
    list-style-type: none;
}
.nav-bar ul li a {
    color: #080808;
    font-size: clamp(0.5rem, 2.5vw, 1.25rem);
    text-decoration: none;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #5f3e2a;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover:after{
    width: 100%;
}


.main-content-container {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    width: 85%;
    align-items: center;
    /* background-color: #f4f4f4; */
}

.main-content{
    margin: 5%;
    line-height: 1.6;
}
.closeup{
    width: 100%;
    margin-bottom: 5%;
}