/*all elements in page*/
*{
    margin: 0;
    padding: 0;
    font-family: "Courier New", monospace;
  }
  
  body{
    display: flex;
    background: #fff;
    color: #080800; 
    flex-direction: vertical;
  }
  
  .content-wrapper{
    display: flex;
    overflow-x: hidden;
  }
  
  /* LEFT SIDE */
  #nav-logo{
    width: 100%;
    height: 15%;
    margin: 20%;
    background-image: url(res/logo.gif);
    background-repeat: no-repeat;
    background-size:  contain;
    background-position: center;
    
  }
  
  nav {
    display: flex;
    position: fixed;
    background-color: #fff;
    width: 15%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
  }
  /* nav link */
  nav ul li{
    list-style: none;
    padding-bottom: 30%;
    margin: 10%;
  }
  /* nav links */
  nav ul li a{
    color: #080800;
    text-decoration: none;
    font-size: 20px;
    position: relative;
  }
  /* lines for nav */
  nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #5f3e2a;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
  }
  /* make lines apear for nav */
  nav ul li a:hover:after{
    width: 100%;
  }
  
  #closeup{
    display: flex;
    width: 90%;
    height: 95vh;
    background-image: url(res/closeup.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    margin-bottom: 5%;

}

.header-text{
    font-family: Verdana, Geneva, sans-serif;
    margin-top: 20%;
    margin-left: 5%;
    font-size: 30px;
}

.header-text p{
    font-size: 25px;
    margin-left: 5%;
    margin-right:50%;
}
.header-text span{
    color:#5f3e2a;
}



  .home-content {

    display: flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
    margin-left: auto;
  }
  
  
  